.basicBody:not(.dark-mode) {
  margin: 0;
  padding: 0;
  background-image: url('images/minimalcomputer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;
}

.triviaBody:not(.dark-mode){
  background:rgba(0, 0, 0, 0.3) url('images/brickwall.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh;

}

.header:not(.dark-mode) {
background-image: url("images/compandcoffee.jpg");
background-size: cover;
background-position: 0vmin;
background-repeat: no-repeat;
height: 30vh;
max-width: 540px;
min-width: 100vw;
position: relative;
}

.header2:not(.dark-mode) {
background-image: url("images/vintage_cam.jpg");
background-size: cover;
background-position: 0vmin;
background-repeat: no-repeat;
height: 35vh;
width: 100vw;
}

.header-content {
position: absolute;
bottom: 0;
left: 0;
color:cornflowerblue;
text-indent: 1.5em;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
font-family: 'Caprasimo';
font-size: 8em;
max-width: 720px;
background-position: fixed;
}

.triviaHeader:not(.dark-mode){
  background-image: url("images/quizsign.jpg");
  background-size: cover;
  background-position: 0vmin;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100vw;
  position: relative;
}

.center{
justify-content: center;
text-align: center;
justify-items: center;
}

.button-like:not(.dark-mode) {
  padding: 0.5em 1.1em;
  border: 0;
  border-radius: 0.1875em;
  background-color: #78c3ee;
  box-shadow: none;
  color: #fff;
  font-size: 2.5em;
  margin: 5%;
  text-align: center;
  font-family: 'Handjet';
}

/*image enlargment*/
.project-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-item {
  text-align: center;
}

#site{
  background-image: url("./images/siteshot.png");
  height: 300px;
  width: 400px;
  background-size: cover;
  margin: auto;
  border-radius: 5px;
}

#site:hover{
  transition: transform 0.5s;
  transform: scale(2);
}

#wedding{
  background-image: url("./images/inviteshot.png");
  height: 300px;
  width: 400px;
  background-size: cover;
  margin: auto;
  border-radius: 5px;
}

#wedding:hover{
  transition: transform 0.5s;
  transform: scale(2);
}

#string{
  background-image: url("./images/stringanswers.png");
  height: 300px;
  width: 400px;
  background-size: cover;
  margin: auto;
  border-radius: 5px;
}

#string:hover{
  transition: transform 0.5s;
  transform: scale(2);
}

#calculator{
  background-image: url("./images/calculatorproject.png");
  height: 300px;
  width: 400px;
  background-size: cover;
  margin: auto;
  border-radius: 5px;
}

#calculator:hover{
  transition: transform 0.5s;
  transform: scale(2);
}

#hackerrank{
  background-image: url("./images/stdinstdout.png");
  height: 300px;
  width: 400px;
  background-size: cover;
  margin: auto;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

#hackerrank:hover{
  transition: transform 0.5s;
  transform: scale(2);
}

#codewars{
  background-image: url("./images/evenorodd.png");
  height: 300px;
  width: 400px;
  background-size: cover;
  margin: auto;
  border-radius: 5px;
}

#codewars:hover{
  transition: transform 0.5s;
  transform: scale(2);  
}

/*form stuff*/

input[type="email"]{
  width: 17em;
}

#selectCourse {
  width: 17em;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submitButton {
  padding: 0.5em 1.1em;
  border: 0;
  border-radius: 0.1875em;
  background-color: #78c3ee;
  box-shadow: none;
  color: #fff;
  font-size: 1.25em;
  margin: 5%;
  text-align: center;
  font-family: 'Handjet';
}

#cancelButton {
  padding: 0.5em 1.1em;
  border: 0;
  border-radius: 0.1875em;
  background-color: #ef435a;
  box-shadow: none;
  color: #fff;
  font-size: 1.25em;
  margin: 5%;
  text-align: center;
  font-family: 'Handjet';
}

.red-border {
  border: #ef435a solid 2px;
}

body, h1{
margin: .3vh;
padding: 1.5vh;
list-style: none;
}

.bloggrid{
grid-template-columns: auto auto;
grid-template-rows: auto auto auto;
display: grid;
gap: 1.5vh;
}

.blogitem1{
grid-column: 1/span 2;
}

.blogitem4{
grid-area: 3/span 2;
}

/*image slider*/
#slider {
position: relative;
max-width: 100%;
overflow: hidden;
}

.carousel-container {
display: flex;
align-items: center;
justify-content: center;
position: relative;
width: 100%; /* This ensures the container takes the full width */
}

#slider img{
width: auto;
height: 90vh;
opacity: 0;
display: none;
transition: all 1s ease-in-out;
}

#slider img.active{
opacity: 1;
display: block;
}

.carousel-button {
position: absolute;
align-items: center;
top: 50%;
transform: translateY(-50%);
border: 3px solid #fff;
border-radius: 50%;
width: 70px;
height: 70px;
background-color: #717171;
color: #f1f1f1;
font-size: 2em;
font-stretch: condensed;
cursor: pointer;
transition: all 200ms ease-in-out;
}

button:hover{
background-color: steelblue;
}

button#prev {
left: 10px;
}

button#next{
right: 10px;
}

/*fonts css*/

@font-face {
font-family: 'Aboreto-Regular';
src: url('fonts/Aboreto-Regular.ttf') format('truetype')
}
@font-face{
font-family: 'Gowun Dodum';
src: url('fonts/GowunDodum-Regular.ttf') format('truetype')
}
@font-face{
font-family: 'Edu Beginner';
src: url('fonts/EduSABeginner-VariableFont_wght.ttf'); format('truetype')
}

@font-face{
font-family: 'Caprasimo';
src: url('fonts/Caprasimo-Regular.ttf'); format('truetype')
}

@font-face{
font-family: 'Righteous';
src: url('fonts/Righteous-Regular.ttf'); format('truetype')
}

@font-face{
font-family: 'Handjet';
src: url('fonts/Handjet-VariableFont_ELGR,ELSH,wght.ttf'); format('truetype')
}

@font-face {
  font-family: 'Neon Future';
  src: url('fonts/neon-future.regular.ttf'); format('truetype')
}

.h2{
font-family: 'Righteous';
padding: .7vh;
text-align: left;
}

.h1{
padding: .7vh;
text-align: left;
font-family: 'Righteous';
}

.p1{
font-family: 'Gowun Dodum';
font-size: 1.25em;
text-indent: 2em;
text-align: left;
padding: 2vh;
}

.p2{
font-family: 'Righteous';
font-size: 1.9em;
text-align: left;
padding: 2vh;
}

.p3{
font-family: 'Gowun Dodum';
font-size: 1.25em;
text-align: center;
padding: 1.5vh;
}

.p4{
font-family: 'Gowun Dodum';
font-size: 1.25em;
text-indent: 2em;
padding: 1.5vh;
}

.p5{
font-family: 'Gowun Dodum';
font-size: .9em;
text-align: center;
padding: 1.5vh;
}

.p6{
font-family: 'Aboreto-Regular';
font-size: 1.5em;
text-align: left;
padding: 2vh;
}

.triviaFont{
  font-family: 'Neon Future';
  color: #f648b0;
  font-size: 4em;
  text-align: center;
  justify-content: center;
  margin: 10%;
}

.triviaBorder{
  border: 5px double rgb(217, 87, 240);
  border-radius: 5px;
  font-family: 'Neon Future';
  color: #53e75f;
  font-size: 2.5em;
  text-align: center;
  justify-content: center;
}

.strtbtn{
padding-block: 1.5rem;
border-radius: 10px;
background-color: #78c3ee;
opacity: 50%;
margin: 5px;
}

/*image and animation css*/

img{
vertical-align: middle;
padding: 2%
}

.equalsize{
height: 42.37vh;
width: 28.25vw;
}

#showImageText {
cursor: pointer;
color: #75ABBC;
text-decoration: none;
}

/*footer css*/

.footer {
background-color: #333;
color: #fff;
display: flex;
text-align: justify;
justify-content: center;
height: 18vh;
min-width: 100vw;
background-position: fixed;
position: absolute;
}

.footer-icons a {
color: #fff;
font-size: 24px;
margin: 2vh;
text-decoration: none;
padding: 2%;
margin-left: 2%;
position: relative;
}

/*dark mode toggle in footer*/
.dark-mode {
background: rgba(0, 0, 0, 0.5) url('images/minimalcomputer.jpg');
background-blend-mode: darken;
transition: all 0.4s ease-in;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
min-height: 100vh;
color: #F1EFEF;
margin: 0;
padding: 0;
}

.dark-mode button, .dark-mode img, .dark-mode header, .dark-mode footer {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
}

.toggle-switch {
position: relative;
display: inline-block;
width: 4rem;
height: 1.63rem;
margin-bottom: 0.63rem;
margin-inline: auto;
}

.toggle-switch input{
opacity: 0;
width: 0;
height: 0;
}

/*slider toggle*/

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #f4f4f5;
transition: all 0.4s ease-in;
border-radius: 2rem;
}

.slider:before {
position: absolute;
content: "";
height: 1rem;
width: 1rem;
left: 0.25rem;
bottom: 0.25rem;
background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
transition: 0.4s;
border-radius: 50%;
}

input:checked + .slider {
background-color: #303136;
}

input:focus + .slider {
box-shadow: 0 0 2px #2196f3;
}

input:checked + .slider:before {
transform: translateX(2rem);
background: #303136;
box-shadow: inset -3px -2px 5px -2px #8983f7, inset -6px -5px 0 0 #a3dafb;
}

